*{
    font-family: 'Open Sans', sans-serif;
}
a:visited{
   color:green;
}
a:hover{
   color: black;
}
a:active{
    color:yellow;
}

a{
    text-decoration: none;
}
/*****************header*******************/
header{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-evenly;
    width: 20rem;
}
ul>li{
    width: 30%;
    font-size: 1.5rem;
}
/****************main parent**************/
.main-img{
    width: 100vw;
    height: auto;
}
.parent{
    display: flex;
  /*  justify-content: space-evenly; */
    text-align: center;
    margin: 2rem;
}
.child{
    width: 30%;
    margin: auto;
}
/****************footer**************/
.foot{
    background-color: black;
    color: aliceblue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: 900;
    font-size: 20px;

}